<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949825680670-j12dj0p5l4qrovbpvibqh08gq9o4kjab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949825680670-j12dj0p5l4qrovbpvibqh08gq9o4kjab</string>
	<key>API_KEY</key>
	<string>AIzaSyD8BAi5BFyfyUlUUEOaKPRKW6KCGxShvc8</string>
	<key>GCM_SENDER_ID</key>
	<string>949825680670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.application</string>
	<key>PROJECT_ID</key>
	<string>spotr-7c7e0</string>
	<key>STORAGE_BUCKET</key>
	<string>spotr-7c7e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949825680670:ios:6e61c004d90553e12c050f</string>
</dict>
</plist>